<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Fornecedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)" placeholder="Pesquisar" autocorrect="off" animated="true"
      showCancelButton="true"></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-list-header>
      {{fornecedoresFiltered?.length}} registro(s).
    </ion-list-header>
    <ion-item *ngFor="let f of fornecedoresFiltered">
      <ion-label>
        <h2>{{f.nome}}</h2>
        <p>{{f.cnpj}}</p>
      </ion-label>

      <ion-button (click)="edit(f.id)" fill="clear" size="small" slot="end">
        <ion-icon slot="icon-only" name="open"></ion-icon>
      </ion-button>
      <ion-button (click)="remove(f.id)" fill="clear" size="small" color="danger" slot="end">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!fornecedores || fornecedores.length == 0">
      <ion-label text-center>Nenhum item cadastrado!
        <ion-text color="tertiary" [routerDirection]="'fornecedores'" [routerLink]="'/fornecedores/add'">Cadastrar</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" color="secondary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>