<ion-grid>
  <ion-row>
    <ion-col text-center> 
    </ion-col>

    <ion-col text-center>
      <ion-list>
        <ion-list-header>Produtos</ion-list-header>
        <ion-item>
          <ion-label>Selecione</ion-label>
          <ion-select okText="Confirmar" cancelText="Cancelar">
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>