<ion-card>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-list>
            <ion-list-header>{{ 'produtos.titulo' | translate }}</ion-list-header>
            <ion-item>
              <ion-label>{{ 'geral.selecione' | translate }}</ion-label>
              <ionic-selectable [(ngModel)]="produto" [items]="produtos" itemTextField="nome"
                [canSearch]="true" [canClear]="true">
              </ionic-selectable>
            </ion-item>
          </ion-list>
        </ion-col> 
        <ion-col text-center>
          <ion-list>
            <ion-list-header>{{ 'fornecedores.titulo' | translate }}</ion-list-header>
            <ion-item>
              <ion-label>{{ 'geral.selecione' | translate }}</ion-label>
              <ionic-selectable [(ngModel)]="fornecedor" [items]="fornecedores" itemTextField="nome"
                [canSearch]="true" [canClear]="true">
              </ionic-selectable>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row> 
    </ion-grid>
  </ion-card-content>
</ion-card>

<app-orcamento-ranking *ngIf="!fornecedor && produto" [produto]="produto"></app-orcamento-ranking>
<app-orcamento-produto *ngIf="fornecedor && !produto" [fornecedor]="fornecedor"></app-orcamento-produto>
<app-orcamento-detail *ngIf="fornecedor && produto" [fornecedor]="fornecedor" [produto]="produto"></app-orcamento-detail>