<ion-card>
    <ion-list>
  
      <ion-list-header>
        <ion-label>Produtos</ion-label>
      </ion-list-header> 
      <ion-item *ngFor="let o of orcamentos; let i=index;">
        <ion-label>
          <h1>{{o?.produto?.nome}}</h1>
          <h3>{{o?.valor}} R$</h3>
          <p>condições de pagamento</p>
        </ion-label> 
      </ion-item>
      <ion-item *ngIf="!orcamentos || orcamentos.length == 0">
        <ion-label text-center>Não existe orçamento cadastro.
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>