<ion-card>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="save()" color="secondary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card-content>
    <ion-list>
      <ion-list-header>{{ 'orcamentos.novo' | translate }}</ion-list-header>
      <form [formGroup]="form">
        <ion-input type="hidden" formControlName="fornecedor"></ion-input>
        <ion-input type="hidden" formControlName="produto"></ion-input>
        <ion-item>
          <ion-label position="stacked">{{ 'orcamentos.form.valor' | translate }}</ion-label>
          <ion-input type="text" formControlName="valor"></ion-input>
        </ion-item> 
        <ion-text color="danger" *ngIf="valor.hasError('required') && (valor.touched || isSubmitted)">
          <p>{{ 'orcamentos.validacao.valor.obrigatorio' | translate }}</p>
        </ion-text>
      </form>
    </ion-list>
  </ion-card-content>
</ion-card>