<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="produtos"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'fornecedores.titulo.detalhes' | translate }}</ion-title>
  </ion-toolbar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" edge>
    <ion-fab-button (click)="save()" color="secondary">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'fornecedores.form.nome' | translate }}</ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
              </ion-item>
              <ion-text color="danger" *ngIf="nome.hasError('required') && (nome.touched || isSubmitted)">
                <p>{{'fornecedores.validacao.nome.obrigatorio'| translate }}</p>
              </ion-text>
              <ion-item>
                <ion-label position="floating">{{ 'fornecedores.form.cnpj' | translate }}</ion-label>
                <ion-input type="text" formControlName="cnpj"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card> 
</ion-content>